<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663319232733-8g62bjkf6e2prccbd0hvgpmtglttcuvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663319232733-8g62bjkf6e2prccbd0hvgpmtglttcuvr</string>
	<key>API_KEY</key>
	<string>AIzaSyDoteGSLiJ2ba_GUKiaxMcQVm0LRGvQu7o</string>
	<key>GCM_SENDER_ID</key>
	<string>663319232733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SWIFT-iOS.appFireBase</string>
	<key>PROJECT_ID</key>
	<string>appfirebase-79c1d</string>
	<key>STORAGE_BUCKET</key>
	<string>appfirebase-79c1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663319232733:ios:e039e140751117e55e5b34</string>
</dict>
</plist>